@model Apps.Models.Spl.Spl_HotwareModel
@using Apps.Web.Core;
@using Apps.Common;
@using Apps.Models.Spl;
@using Apps.Web;
@using Apps.Locale;
@using Apps.Models.Sys;
@{
    ViewBag.Title = "修改";
    Layout = "~/Views/Shared/_Index_LayoutEdit.cshtml";
    List<permModel> perm = null;
}

<script type="text/javascript">
$(function () {
    $("#btnSave").click(function () {
        if ($("form").valid()) {
            $.ajax({
                url: "@Url.Action("Edit")",
                type: "Post",
                data: $("form").serialize(),
                dataType: "json",
                success: function (data) {
                    if (data.type == 1) {
                        window.parent.frameReturnByMes(data.message);
                        window.parent.frameReturnByReload(true);
                        window.parent.frameReturnByClose()
                    }
                    else {
                        window.parent.frameReturnByMes(data.message);
                    }
                }
            });
        }
        return false;
    });
    $("#btnReturn").click(function () {
         window.parent.frameReturnByClose();
    });
});
</script>
<div class="mvctool bgb">
    @Html.ToolButton("btnSave", "fa fa-save", Resource.Save, ref perm, "Save", true)
    @Html.ToolButton("btnReturn", "fa fa-reply", Resource.Reply, false)
</div>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.Id)
    <table class="formtable">
        <tbody>
            <tr>
                <th>
                    @Html.LabelFor(model => model.WareName)：
                </th>
                <td>
                    @Html.DropDownListFor(tDto => tDto.WareId, ViewData["wareSelect"] as SelectList, "---请选择---", new { @class = "form-control" })
                </td>
                <td>@Html.ValidationMessageFor(model => model.WareId)</td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.Amount)：
                </th>
                <td>
                    @Html.EditorFor(model => model.Amount)
                </td>
                <td>@Html.ValidationMessageFor(model => model.Amount)</td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.SumJinE)：
                </th>
                <td>
                    @Html.EditorFor(model => model.SumJinE)
                </td>
                <td>@Html.ValidationMessageFor(model => model.SumJinE)</td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.IsShow)：
                </th>
                <td>
                    @Html.SwitchButtonByEdit("IsShow", Model.IsShow==null?false:(bool)Model.IsShow)
                </td>
                <td>@Html.ValidationMessageFor(model => model.IsShow)</td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.ShunXu)：
                </th>
                <td>
                    @Html.EditorFor(model => model.ShunXu)
                </td>
                <td>@Html.ValidationMessageFor(model => model.ShunXu)</td>
            </tr>
        </tbody>
    </table>
}
