@model Apps.Models.Spl.Spl_OrdersModel
@using Apps.Web.Core;
@using Apps.Common;
@using Apps.Models.Spl;
@using Apps.Web;
@using Apps.Locale;
@using Apps.Models.Sys;
@{
    ViewBag.Title = "创建";
    Layout = "~/Views/Shared/_Index_LayoutEdit.cshtml";
    List<permModel> perm = null;
}

<script type="text/javascript">
$(function () {
    $("#btnSave").click(function () {
        if ($("form").valid()) {
            $.ajax({
                url: "@Url.Action("Create")",
                type: "Post",
                data: $("form").serialize(),
                dataType: "json",
                success: function (data) {
                    if (data.type == 1) {
                        window.parent.frameReturnByMes(data.message);
                        window.parent.frameReturnByReload(true);
                        window.parent.frameReturnByClose()
                    }
                    else {
                        window.parent.frameReturnByMes(data.message);
                    }
                }
            });
        }
        return false;
    });
    $("#btnReturn").click(function () {
         window.parent.frameReturnByClose();
    });
});
</script>
<div class="mvctool bgb">
    @Html.ToolButton("btnSave", "fa fa-save", Resource.Save, ref perm, "Save", true)
    @Html.ToolButton("btnReturn", "fa fa-reply", Resource.Reply, false)
</div>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.Id)
    <input id="CreateTime" type="hidden" name="CreateTime" value="2000-1-1" />
    <table class="formtable">
        <tbody>
            <tr>
                <th>
                    @Html.LabelFor(model => model.UserId)：
                </th>
                <td>
                    @Html.EditorFor(model => model.UserId)
                </td>
                <td>@Html.ValidationMessageFor(model => model.UserId)</td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.TrueName)：
                </th>
                <td>
                    @Html.EditorFor(model => model.TrueName)
                </td>
                <td>@Html.ValidationMessageFor(model => model.TrueName)</td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.OrderNo)：
                </th>
                <td>
                    @Html.EditorFor(model => model.OrderNo)
                </td>
                <td>@Html.ValidationMessageFor(model => model.OrderNo)</td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.Status)：
                </th>
                <td>
                    @Html.EditorFor(model => model.Status)
                </td>
                <td>@Html.ValidationMessageFor(model => model.Status)</td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.AddressId)：
                </th>
                <td>
                    @Html.EditorFor(model => model.AddressId)
                </td>
                <td>@Html.ValidationMessageFor(model => model.AddressId)</td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.AddressName)：
                </th>
                <td>
                    @Html.EditorFor(model => model.AddressName)
                </td>
                <td>@Html.ValidationMessageFor(model => model.AddressName)</td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.UpdateTime)：
                </th>
                <td>
                    @Html.EditorFor(model => model.UpdateTime)
                </td>
                <td>@Html.ValidationMessageFor(model => model.UpdateTime)</td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.DingDanKuan)：
                </th>
                <td>
                    @Html.EditorFor(model => model.DingDanKuan)
                </td>
                <td>@Html.ValidationMessageFor(model => model.DingDanKuan)</td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.OrderWuliu)：
                </th>
                <td>
                    @Html.EditorFor(model => model.OrderWuliu)
                </td>
                <td>@Html.ValidationMessageFor(model => model.OrderWuliu)</td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.WuliuLink)：
                </th>
                <td>
                    @Html.EditorFor(model => model.WuliuLink)
                </td>
                <td>@Html.ValidationMessageFor(model => model.WuliuLink)</td>
            </tr>
        </tbody>
    </table>
}
