@model Apps.Models.Spl.Spl_WareModel
@{
    ViewBag.Title = "Detail";
}
@Scripts.Render("~/bundles/detail")

<!-- 商品信息 start -->
<div id="jnProitem">
    <div class="jqzoomWrap">
        <a href="@Url.Content("~/Content/images/pro_img/blue_one_big.png")" class="jqzoom" rel='gal1' title="滋润">
            <img src="@Url.Content("~/Content/images/pro_img/blue_one_small.png")" title="滋润系列" alt="" id="bigImg" />
        </a>
    </div>
    <span>
        <a title="介绍文字" id="thickImg" href="@Url.Content("~/Content/images/pro_img/blue_one_big.png")" class="thickbox">
            <img src="@Url.Content("~/Content/images/look.gif")" alt="点击看大图" />
        </a>
    </span>
    <ul class="imgList">
        <li class="imgList_blue"><a href='javascript:void(0);' rel="{gallery: 'gal1', smallimage: '@Url.Content("~/Content/images/pro_img/blue_one_small.png")',largeimage: '@Url.Content("~/Content/images/pro_img/blue_one_big.png")'}">
            <img src="@Url.Content("~/Content/images/pro_img/blue_one.png")" alt="" /></a></li>
        <li class="imgList_blue"><a href='javascript:void(0);' rel="{gallery: 'gal1', smallimage: '@Url.Content("~/Content/images/pro_img/blue_two_small.png")',largeimage: '@Url.Content("~/Content/images/pro_img/blue_two_big.png")'}">
            <img src="@Url.Content("~/Content/images/pro_img/blue_two.png")" alt="" /></a></li>
        <li class="imgList_blue"><a href='javascript:void(0);' rel="{gallery: 'gal1', smallimage: '@Url.Content("~/Content/images/pro_img/blue_three_small.png")',largeimage: '@Url.Content("~/Content/images/pro_img/blue_three_big.png")'}">
            <img src="@Url.Content("~/Content/images/pro_img/blue_three.png")" alt="" /></a></li>

        
    </ul>
    <div class="tab">
        <div class="tab_menu">
            <ul>
                <li class="selected">产品属性</li>
                <li>产品规格</li>
                <li>产品介绍</li>
            </ul>
        </div>
        <div class="tab_box">
            <div>
                无
            </div>
            <div class="hide">
                无
            </div>
            <div class="hide">
                无
            </div>
        </div>
    </div>
</div>
<!-- 商品信息 end -->

<!-- 商品列表 start -->
<div id="jnDetails">
    <div class="jnProDetail">
        <h4>@Model.Name</h4>
        <ul class="jnProDetailList">
            <li>@Model.Description
            </li>
            <li>
                <span>价&#12288;&#12288;格：</span>
                <strong class="del">@Model.Price</strong>元
            </li>
            <li class="tbDetailPrice">
                <span>促&#12288;&#12288;销：</span>
                <strong>@Model.PromotionPrice</strong>元
            </li>           
            
            <li>
                <span>数&#12288;&#12288;量：</span>
                <div class="pro_num">
                    <select id="num_sort">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
            </li>
            <li class="pro_price">
                <span>总&#12288;&#12288;计：</span>
                <strong>200</strong>元
            </li>
        </ul>
        <div class="pro_rating">
            给商品评分：
					<ul class="rating nostar">
                        <li class="one"><a title="1分" href="#">1</a></li>
                        <li class="two"><a title="2分" href="#">2</a></li>
                        <li class="three"><a title="3分" href="#">3</a></li>
                        <li class="four"><a title="4分" href="#">4</a></li>
                        <li class="five"><a title="5分" href="#">5</a></li>
                    </ul>
        </div>
        <div id="cart">
            <a href="#">
                <img src="@Url.Content("~/Content/images/btn_cart.png")" alt="放入购物车" /></a>
        </div>
    </div>
</div>

