@model Apps.Models.Spl.Spl_WareModel
@{
    ViewBag.Title = "Detail";
}
@Scripts.Render("~/bundles/detail")

<!-- 商品信息 start -->
<div id="jnProitem">
    <div class="jqzoomWrap">
        <a href="@Url.Content("~/Content/images/pro_img/blue_one_big.jpg")" class="jqzoom" rel='gal1' title="免烫高支棉条纹衬衣">
            <img src="@Url.Content("~/Content/images/pro_img/blue_one_small.jpg")" title="免烫高支棉条纹衬衣" alt="免烫高支棉条纹衬衣" id="bigImg" />
        </a>
    </div>
    <span>
        <a title="介绍文字" id="thickImg" href="@Url.Content("~/Content/images/pro_img/blue_one_big.jpg")" class="thickbox">
            <img src="@Url.Content("~/Content/images/look.gif")" alt="点击看大图" />
        </a>
    </span>
    <ul class="imgList">
        <li class="imgList_blue"><a href='javascript:void(0);' rel="{gallery: 'gal1', smallimage: '@Url.Content("~/Content/images/pro_img/blue_one_small.jpg")',largeimage: '@Url.Content("~/Content/images/pro_img/blue_one_big.jpg")'}">
            <img src="@Url.Content("~/Content/images/pro_img/blue_one.jpg")" alt="" /></a></li>
        <li class="imgList_blue"><a href='javascript:void(0);' rel="{gallery: 'gal1', smallimage: '@Url.Content("~/Content/images/pro_img/blue_two_small.jpg")',largeimage: '@Url.Content("~/Content/images/pro_img/blue_two_big.jpg")'}">
            <img src="@Url.Content("~/Content/images/pro_img/blue_two.jpg")" alt="" /></a></li>
        <li class="imgList_blue"><a href='javascript:void(0);' rel="{gallery: 'gal1', smallimage: '@Url.Content("~/Content/images/pro_img/blue_three_small.jpg")',largeimage: '@Url.Content("~/Content/images/pro_img/blue_three_big.jpg")'}">
            <img src="@Url.Content("~/Content/images/pro_img/blue_three.jpg")" alt="" /></a></li>

        <li class="imgList_green hide"><a href='javascript:void(0);' rel="{gallery: 'gal1', smallimage: 'images/pro_img/green_one_small.jpg',largeimage: 'images/pro_img/green_one_big.jpg'}">
            <img src="@Url.Content("~/Content/images/pro_img/green_one.jpg")" alt="" /></a></li>
        <li class="imgList_green hide"><a href='javascript:void(0);' rel="{gallery: 'gal1', smallimage: 'images/pro_img/green_two_small.jpg',largeimage: 'images/pro_img/green_two_big.jpg'}">
            <img src="@Url.Content("~/Content/images/pro_img/green_two.jpg")" alt="" /></a></li>

        <li class="imgList_yellow hide"><a href='javascript:void(0);' rel="{gallery: 'gal1', smallimage: 'images/pro_img/yellow_one_small.jpg',largeimage: 'images/pro_img/yellow_one_big.jpg'}">
            <img src="@Url.Content("~/Content/images/pro_img/yellow_one.jpg")" alt="" /></a></li>
        <li class="imgList_yellow hide"><a href='javascript:void(0);' rel="{gallery: 'gal1', smallimage: 'images/pro_img/yellow_two_small.jpg',largeimage: 'images/pro_img/yellow_two_big.jpg'}">
            <img src="@Url.Content("~/Content/images/pro_img/yellow_two.jpg")" alt="" /></a></li>
        <li class="imgList_yellow hide"><a href='javascript:void(0);' rel="{gallery: 'gal1', smallimage: 'images/pro_img/yellow_three_small.jpg',largeimage: 'images/pro_img/yellow_three_big.jpg'}">
            <img src="@Url.Content("~/Content/images/pro_img/yellow_three.jpg")" alt="" /></a></li>

    </ul>
    <div class="tab">
        <div class="tab_menu">
            <ul>
                <li class="selected">产品属性</li>
                <li>产品尺码表</li>
                <li>产品介绍</li>
            </ul>
        </div>
        <div class="tab_box">
            <div>
                沿用风靡百年的经典全棉牛津纺面料，通过领先的液氨整理技术，使面料的抗皱性能更上一层。延续简约、舒适、健康设计理念，特推出免烫、易打理的精细免烫牛津纺长袖衬衫系列。 
            </div>
            <div class="hide">
                来自新疆无污染的生态棉花，采用紧密纺精梳棉纱，单经双纬的织造组织，造就了颗粒饱满、朴实无华、温润细腻的经典牛津纺，易洗快干、手感丰软、吸湿性好。设计师遵循布料完美肌理，立体剪裁，曲摆的现代人性化裁减，相得益彰，浑然天成。
            </div>
            <div class="hide">
                世界权威德国科德宝的衬和英国高士缝纫线使成衣领型自然舒展、永不变形，缝线部位平服工整、牢固耐磨；人性化的4片式后背打褶结构设计提供更舒适的活动空间；领尖扣的领型设计戴或不戴领带风格炯同、瞬间呈现；醇正天然设计，只为彰显自然荣耀。
            </div>
        </div>
    </div>
</div>
<!-- 商品信息 end -->

<!-- 商品列表 start -->
<div id="jnDetails">
    <div class="jnProDetail">
        <h4>@Model.Name</h4>
        <ul class="jnProDetailList">
            <li>@Model.Description
            </li>
            <li>
                <span>价&#12288;&#12288;格：</span>
                <strong class="del">@Model.Price</strong>元
            </li>
            <li class="tbDetailPrice">
                <span>促&#12288;&#12288;销：</span>
                <strong>@Model.PromotionPrice</strong>元
            </li>
            <li class="color_change">
                <span>颜&#12288;&#12288;色：</span>
                <strong>蓝白</strong>
                <ul>
                    <li>
                        <img alt="蓝白" src="@Url.Content("~/Content/images/pro_img/blue.jpg")" /></li>
                    <li>
                        <img alt="黄白" src="@Url.Content("~/Content/images/pro_img/yellow.jpg")" /></li>
                    <li>
                        <img alt="粉绿" src="@Url.Content("~/Content/images/pro_img/green.jpg")" /></li>
                </ul>
            </li>
            <li class="pro_size">
                <span>尺&#12288;&#12288;寸：</span>
                <strong>未选择</strong>
                <ul>
                    <li>S</li>
                    <li>L</li>
                    <li>SL</li>
                    <li>LL</li>
                </ul>
            </li>
            <li>
                <span>数&#12288;&#12288;量：</span>
                <div class="pro_num">
                    <select id="num_sort">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
            </li>
            <li class="pro_price">
                <span>总&#12288;&#12288;计：</span>
                <strong>200</strong>元
            </li>
        </ul>
        <div class="pro_rating">
            给商品评分：
					<ul class="rating nostar">
                        <li class="one"><a title="1分" href="#">1</a></li>
                        <li class="two"><a title="2分" href="#">2</a></li>
                        <li class="three"><a title="3分" href="#">3</a></li>
                        <li class="four"><a title="4分" href="#">4</a></li>
                        <li class="five"><a title="5分" href="#">5</a></li>
                    </ul>
        </div>
        <div id="cart">
            <a href="#">
                <img src="images/btn_cart.png" alt="放入购物车" /></a>
        </div>
    </div>
</div>

