@{
    ViewBag.Title = "商品列表";
}
<div id="jnBrand">
    <div id="jnBrandTab">
        <h2 title="品牌活动">品牌活动</h2>
    </div>
    <div id="jnBrandContent">
        <div id="jnBrandList">
            <ul>
                <li>
                    <a href="Home/Detail/1" class="JS_live">
                        <img alt="耐克" src="@Url.Content("~/Content/images/upload/20120217.jpg")" /></a>
                    <span><a href="Home/Detail/1">耐克</a></span>
                </li>
                <li>
                    <a href="###2" class="JS_live">
                        <img alt="阿迪达斯" src="@Url.Content("~/Content/images/upload/20120218.jpg")" /></a>
                    <span><a href="###2">阿迪达斯</a></span>
                </li>
                <li>
                    <a href="###3" class="JS_live">
                        <img alt="李宁" src="@Url.Content("~/Content/images/upload/20120219.png")" /></a>
                    <span><a href="###3">李宁</a></span>
                </li>
                <li>
                    <a href="###4" class="JS_live">
                        <img alt="安踏" src="@Url.Content("~/Content/images/upload/20120220.png")" /></a>
                    <span><a href="###4">安踏</a></span>
                </li>
                <li>
                    <a href="###1" class="JS_live">
                        <img alt="耐克" src="@Url.Content("~/Content/images/upload/20120217.jpg")" /></a>
                    <span><a href="###1">耐克</a></span>
                </li>
                <li>
                    <a href="###2" class="JS_live">
                        <img alt="阿迪达斯" src="@Url.Content("~/Content/images/upload/20120218.jpg")" /></a>
                    <span><a href="###2">阿迪达斯</a></span>
                </li>
                <li>
                    <a href="###3" class="JS_live">
                        <img alt="李宁" src="@Url.Content("~/Content/images/upload/20120219.png")" /></a>
                    <span><a href="###3">李宁</a></span>
                </li>
                <li>
                    <a href="###4" class="JS_live">
                        <img alt="安踏" src="@Url.Content("~/Content/images/upload/20120220.png")" /></a>
                    <span><a href="###4">安踏</a></span>
                </li>
                <li>
                    <a href="###1" class="JS_live">
                        <img alt="耐克" src="@Url.Content("~/Content/images/upload/20120217.jpg")" /></a>
                    <span><a href="###1">耐克</a></span>
                </li>
                <li>
                    <a href="###2" class="JS_live">
                        <img alt="阿迪达斯" src="@Url.Content("~/Content/images/upload/20120218.jpg")" /></a>
                    <span><a href="###2">阿迪达斯</a></span>
                </li>
                <li>
                    <a href="###3" class="JS_live">
                        <img alt="李宁" src="@Url.Content("~/Content/images/upload/20120219.png")" /></a>
                    <span><a href="###3">李宁</a></span>
                </li>
                <li>
                    <a href="###4" class="JS_live">
                        <img alt="安踏" src="@Url.Content("~/Content/images/upload/20120220.png")" /></a>
                    <span><a href="###4">安踏</a></span>
                </li>
                <li>
                    <a href="###1" class="JS_live">
                        <img alt="耐克" src="@Url.Content("~/Content/images/upload/20120217.jpg")" /></a>
                    <span><a href="###1">耐克</a></span>
                </li>
                <li>
                    <a href="###2" class="JS_live">
                        <img alt="阿迪达斯" src="@Url.Content("~/Content/images/upload/20120218.jpg")" /></a>
                    <span><a href="###2">阿迪达斯</a></span>
                </li>
                <li>
                    <a href="###3" class="JS_live">
                        <img alt="李宁" src="@Url.Content("~/Content/images/upload/20120219.png")" /></a>
                    <span><a href="###3">李宁</a></span>
                </li>
                <li>
                    <a href="###4" class="JS_live">
                        <img alt="安踏" src="@Url.Content("~/Content/images/upload/20120220.png")" /></a>
                    <span><a href="###4">安踏</a></span>
                </li>
            </ul>
        </div>
    </div>
</div>