@{
    ViewBag.Title = "Home Page";
}
@Scripts.Render("~/bundles/home")
<!-- 大屏广告 start -->
<div id="jnImageroll">
    <a href="#nogo" id="JS_imgWrap">
        <img src="@Url.Content("~/Content/images/ads/1.jpg")" alt="相约情人节" />
        <img src="@Url.Content("~/Content/images/ads/2.jpg")" alt="新款上线" />
        <img src="@Url.Content("~/Content/images/ads/3.jpg")" alt="愤怒小鸟特卖" />
        <img src="@Url.Content("~/Content/images/ads/4.jpg")" alt="男鞋促销第一波" />
        <img src="@Url.Content("~/Content/images/ads/5.jpg")" alt="春季新品发布" />
    </a>
    <div>
        <a href="###1"><em>相约情人节</em><em>全场119元起</em></a>
        <a href="###2"><em>新款上线</em><em>全场357元起</em></a>
        <a href="###3"><em>愤怒小鸟特卖</em><em>全场89元</em></a>
        <a href="###4"><em>男鞋促销第一波</em><em>全场3.1折起</em></a>
        <a href="###5" class="last"><em>春季新品发布</em><em>全场4.1折起</em></a>
    </div>
</div>
<!-- 大屏广告 end -->

<!-- 最新动态 start -->
<div id="jnNotice">
    <div id="jnMiaosha">
        <a href="#nogo" class="JS_css3">
            <img src="@Url.Content("~/Content/images/upload/20120216.jpg")" alt="冬品清仓" />
        </a>       
    </div>
    <div id="jnNoticeInfo">
        <h2 title="最新动态">最新动态</h2>
        <ul>
            <li><a href="###1" class="tooltip" title="[活动] 伊伴春鞋迎春大促">[活动] 伊伴春鞋迎春大促</a></li>
            <li><a href="###2" class="tooltip" title="[活动] 千百度冬靴新品火热让利">[活动] 千百度冬靴新品火热让利</a></li>
            <li><a href="###3" class="tooltip" title="[活动] COEY秋冬新品全场2.3折起">[活动] COEY秋冬新品全场2.3折起</a></li>
            <li><a href="###4" class="tooltip" title="[活动] 伊伴春鞋迎春大促">[活动] 伊伴春鞋迎春大促</a></li>
            <li><a href="###5" class="tooltip" title="[活动] 千百度冬靴新品火热让利">[活动] 千百度冬靴新品火热让利</a></li>
            <li><a href="###6" class="tooltip" title="[活动] COEY秋冬新品全场2.3折起">[活动] COEY秋冬新品全场2.3折起</a></li>
        </ul>
        <br class="clear" />
    </div>
</div>
<!-- 最新动态 end -->

<!-- 品牌活动 start -->
<div id="jnBrand">
    <div id="jnBrandTab">
        <h2 title="品牌活动">品牌活动</h2>
        <ul>
            <li><a title="玫瑰" href="#nogo">玫0瑰</a></li>
            <li><a title="石榴" href="#nogo">石榴</a></li>
            <li><a title="雪草" href="#nogo">雪草</a></li>
            <li><a title="兰花" href="#nogo">兰花</a></li>
        </ul>
    </div>
    <div id="jnBrandContent">
        <div id="jnBrandList">
            <ul>
                <li>
                    <a href="Home/Detail/1" class="JS_live">
                        <img alt="雪草" src="@Url.Content("~/Content/images/upload/20120217.jpg")" />
                    </a>
                    <span><a href="Home/Detail/1">雪草</a></span>
                </li>
                <li>
                    <a href="###2" class="JS_live">
                        <img alt="兰花" src="@Url.Content("~/Content/images/upload/20120218.jpg")" />
                    </a>
                    <span><a href="###2">兰花</a></span>
                </li>
                <li>
                    <a href="###3" class="JS_live">
                        <img alt="石榴" src="@Url.Content("~/Content/images/upload/20120219.png")" />
                    </a>
                    <span><a href="###3">石榴</a></span>
                </li>
                <li>
                    <a href="###4" class="JS_live">
                        <img alt="玫瑰" src="@Url.Content("~/Content/images/upload/20120220.png")" />
                    </a>
                    <span><a href="###4">玫瑰</a></span>
                </li>
                <li>
                    <a href="Home/Detail/1" class="JS_live">
                        <img alt="雪草" src="@Url.Content("~/Content/images/upload/20120217.jpg")" />
                    </a>
                    <span><a href="Home/Detail/1">雪草</a></span>
                </li>
                <li>
                    <a href="###2" class="JS_live">
                        <img alt="兰花" src="@Url.Content("~/Content/images/upload/20120218.jpg")" />
                    </a>
                    <span><a href="###2">兰花</a></span>
                </li>
                <li>
                    <a href="###3" class="JS_live">
                        <img alt="石榴" src="@Url.Content("~/Content/images/upload/20120219.png")" />
                    </a>
                    <span><a href="###3">石榴</a></span>
                </li>
                <li>
                    <a href="###4" class="JS_live">
                        <img alt="玫瑰" src="@Url.Content("~/Content/images/upload/20120220.png")" />
                    </a>
                    <span><a href="###4">玫瑰</a></span>
                </li>
                <li>
                    <a href="Home/Detail/1" class="JS_live">
                        <img alt="雪草" src="@Url.Content("~/Content/images/upload/20120217.jpg")" />
                    </a>
                    <span><a href="Home/Detail/1">雪草</a></span>
                </li>
                <li>
                    <a href="###2" class="JS_live">
                        <img alt="兰花" src="@Url.Content("~/Content/images/upload/20120218.jpg")" />
                    </a>
                    <span><a href="###2">兰花</a></span>
                </li>
                <li>
                    <a href="###3" class="JS_live">
                        <img alt="石榴" src="@Url.Content("~/Content/images/upload/20120219.png")" />
                    </a>
                    <span><a href="###3">石榴</a></span>
                </li>
                <li>
                    <a href="###4" class="JS_live">
                        <img alt="玫瑰" src="@Url.Content("~/Content/images/upload/20120220.png")" />
                    </a>
                    <span><a href="###4">玫瑰</a></span>
                </li>
                <li>
                    <a href="Home/Detail/1" class="JS_live">
                        <img alt="雪草" src="@Url.Content("~/Content/images/upload/20120217.jpg")" />
                    </a>
                    <span><a href="Home/Detail/1">雪草</a></span>
                </li>
                <li>
                    <a href="###2" class="JS_live">
                        <img alt="兰花" src="@Url.Content("~/Content/images/upload/20120218.jpg")" />
                    </a>
                    <span><a href="###2">兰花</a></span>
                </li>
                <li>
                    <a href="###3" class="JS_live">
                        <img alt="石榴" src="@Url.Content("~/Content/images/upload/20120219.png")" />
                    </a>
                    <span><a href="###3">石榴</a></span>
                </li>
                <li>
                    <a href="###4" class="JS_live">
                        <img alt="玫瑰" src="@Url.Content("~/Content/images/upload/20120220.png")" />
                    </a>
                    <span><a href="###4">玫瑰</a></span>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- 品牌活动 end -->
