@{
    ViewBag.Title = "Home Page";
}
@Scripts.Render("~/bundles/home")
<!-- 大屏广告 start -->
<div id="jnImageroll">
    <a href="#nogo" id="JS_imgWrap">
        <img src="@Url.Content("~/Content/images/ads/1.jpg")" alt="清新滋润系列" />
        <img src="@Url.Content("~/Content/images/ads/2.jpg")" alt="夏日膜法" />
        <img src="@Url.Content("~/Content/images/ads/3.jpg")" alt="618狂欢" />
        <img src="@Url.Content("~/Content/images/ads/4.jpg")" alt="全球热卖" />
        <img src="@Url.Content("~/Content/images/ads/5.jpg")" alt="年终大促嗨不停" />
    </a>
    <div>
        <a href="###1"><em>清新滋润系列</em><em>全场119元起</em></a>
        <a href="###2"><em>夏日"膜"法</em><em>全场357元起</em></a>
        <a href="###3"><em>618狂欢</em><em>全场89元</em></a>
        <a href="###4"><em>全球热卖</em><em>错过等一年</em></a>
        <a href="###5" class="last"><em>年终大促嗨不停</em><em>全场7.5折起</em></a>
    </div>
</div>
<!-- 大屏广告 end -->
<!-- 最新动态 start -->
@*<div id="jnNotice">
        <div id="jnMiaosha">
            <a href="#nogo" class="JS_css3">
                <img src="@Url.Content("~/Content/images/upload/20120216.jpg")" alt="冬品清仓" />
            </a>
        </div>
        <div id="jnNoticeInfo">
            <h2 title="最新动态">最新动态</h2>
            <ul>
                <li><a href="###1" class="tooltip" title="[活动] 伊伴春鞋迎春大促">[活动] 伊伴春鞋迎春大促</a></li>
                <li><a href="###2" class="tooltip" title="[活动] 千百度冬靴新品火热让利">[活动] 千百度冬靴新品火热让利</a></li>
                <li><a href="###3" class="tooltip" title="[活动] COEY秋冬新品全场2.3折起">[活动] COEY秋冬新品全场2.3折起</a></li>
                <li><a href="###4" class="tooltip" title="[活动] 伊伴春鞋迎春大促">[活动] 伊伴春鞋迎春大促</a></li>
                <li><a href="###5" class="tooltip" title="[活动] 千百度冬靴新品火热让利">[活动] 千百度冬靴新品火热让利</a></li>
                <li><a href="###6" class="tooltip" title="[活动] COEY秋冬新品全场2.3折起">[活动] COEY秋冬新品全场2.3折起</a></li>
            </ul>
            <br class="clear" />
        </div>
    </div>*@
<!-- 最新动态 end -->
<!-- 新品推荐 start -->
<div id="jnBrand">
    <div id="jnBrandTab">
        <h2 title="新品推荐">新品推荐</h2>
        <ul>
            <li><a title="清新" href="#nogo">清新</a></li>
            <li><a title="海植" href="#nogo">海植</a></li>
            <li><a title="面膜" href="#nogo">面膜</a></li>
            <li><a title="礼盒" href="#nogo">礼盒</a></li>
        </ul>
    </div>
    <div id="jnBrandContent">
        <div id="jnBrandList">
            <ul>
                <li>
                    <a href="Home/Detail/1" class="JS_live">
                        <img alt="薄荷清爽洗发水" src="@Url.Content("~/Content/images/upload/zr1.png")" />
                    </a>
                    <span><a href="Home/Detail/1">薄荷清爽洗发水</a></span>
                </li>
                <li>
                    <a href="###2" class="JS_live">
                        <img alt="蜂蜜滋养沐浴露" src="@Url.Content("~/Content/images/upload/zr2.png")" />
                    </a>
                    <span><a href="###2">蜂蜜滋养沐浴露</a></span>
                </li>
                <li>
                    <a href="###3" class="JS_live">
                        <img alt="橄榄柔顺洗发水" src="@Url.Content("~/Content/images/upload/zr3.png")" />
                    </a>
                    <span><a href="###3">橄榄柔顺洗发水</a></span>
                </li>
                <li>
                    <a href="###4" class="JS_live">
                        <img alt="海藻洁面" src="@Url.Content("~/Content/images/upload/zr4.png")" />
                    </a>
                    <span><a href="###4">海藻洁面</a></span>
                </li>
                <li>
                    <a href="Home/Detail/1" class="JS_live">
                        <img alt="海藻洁面" src="@Url.Content("~/Content/images/upload/zr5.png")" />
                    </a>
                    <span><a href="Home/Detail/1">海藻洁面</a></span>
                </li>
                <li>
                    <a href="###2" class="JS_live">
                        <img alt="海植晶萃提亮纯露" src="@Url.Content("~/Content/images/upload/hz1.png")" />
                    </a>
                    <span><a href="###2">海植晶萃提亮纯露</a></span>
                </li>
                <li>
                    <a href="###3" class="JS_live">
                        <img alt="海植晶萃提亮霜" src="@Url.Content("~/Content/images/upload/hz2.png")" />
                    </a>
                    <span><a href="###3">海植晶萃提亮霜</a></span>
                </li>
                <li>
                    <a href="###4" class="JS_live">
                        <img alt="海植晶萃提亮液" src="@Url.Content("~/Content/images/upload/hz3.png")" />
                    </a>
                    <span><a href="###4">海植晶萃提亮液</a></span>
                </li>
                <li>
                    <a href="Home/Detail/1" class="JS_live">
                        <img alt="红石榴面膜" src="@Url.Content("~/Content/images/upload/mm1.png")" />
                    </a>
                    <span><a href="Home/Detail/1">红石榴面膜</a></span>
                </li>
                <li>
                    <a href="###2" class="JS_live">
                        <img alt="壳聚糖面膜" src="@Url.Content("~/Content/images/upload/mm2.png")" />
                    </a>
                    <span><a href="###2">壳聚糖面膜</a></span>
                </li>
                <li>
                    <a href="###3" class="JS_live">
                        <img alt="龙胆草面膜" src="@Url.Content("~/Content/images/upload/mm3.png")" />
                    </a>
                    <span><a href="###3">龙胆草面膜</a></span>
                </li>
                <li>
                    <a href="###4" class="JS_live">
                        <img alt="透明质酸钠面膜" src="@Url.Content("~/Content/images/upload/mm4.png")" />
                    </a>
                    <span><a href="###4">透明质酸钠面膜</a></span>
                </li>
                <li>
                    <a href="Home/Detail/1" class="JS_live">
                        <img alt="雪莲面膜" src="@Url.Content("~/Content/images/upload/mm5.png")" />
                    </a>
                    <span><a href="Home/Detail/1">雪莲面膜</a></span>
                </li>
                <li>
                    <a href="###2" class="JS_live">
                        <img alt="兰花组合" src="@Url.Content("~/Content/images/upload/qt1.png")" />
                    </a>
                    <span><a href="###2">兰花组合</a></span>
                </li>
                <li>
                    <a href="###3" class="JS_live">
                        <img alt="龙胆草无花" src="@Url.Content("~/Content/images/upload/qt2.png")" />
                    </a>
                    <span><a href="###3">龙胆草无花</a></span>
                </li>
                <li>
                    <a href="###4" class="JS_live">
                        <img alt="玫瑰" src="@Url.Content("~/Content/images/upload/qt3.png")" />
                    </a>
                    <span><a href="###4">玫瑰</a></span>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- 新品推荐 end -->
